<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2019 Steve Palmer -->
<configuration>
  <property name="LOG_DIR" value="/sdcard/Download"/>
  <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
    <tagEncoder>
      <pattern>%logger{12}</pattern>
    </tagEncoder>
    <encoder>
      <pattern>%msg</pattern>
    </encoder>
  </appender>
  <!-- appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_DIR}/freeflowtollreminder.log</file>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender -->
  <logger name="uk.me.srpalmer.freeflowtollreminder.MainActivity"    level="TRACE" />
  <logger name="uk.me.srpalmer.freeflowtollreminder.MainService"     level="TRACE" />
  <logger name="uk.me.srpalmer.freeflowtollreminder.CalendarUpdater" level="TRACE" />
  <logger name="uk.me.srpalmer.freeflowtollreminder.model.TollRoad"  level="INFO" />
  <root level="WARN">
    <appender-ref ref="LOGCAT" />
    <!-- appender-ref ref="FILE" / -->
  </root>
</configuration>
